<!-- Content Heading -->
<% if (title) { %>
<h1>
  <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <%  }) %>
</ul>
<% } %>

<!-- register input form -->
<div class="register">
  <form class="register-form" action="/account/register" method="post">
    <fieldset>
      <legend>Register</legend>
      <label for="firstname">First Name:</label>
      <input type="text" id="firstname" name="account_firstname" required>
      <label for="lastname">Last Name:</label>
      <input type="text" id="lastname" name="account_lastname" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="account_email" required placeholder="Enter a valid email address">
      <label for="password">Password:</label>
      <span>passwords must be at least 12 characters and contain at least 1 capital letter, 1 number and 1 special character</span>
      <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
      <span id="pswdBtn">Show Password</span>
    </fieldset>
    <button type="submit">Register</button>
  </form>
</div>
<script src="/js/script.js"></script>