<% const d=new Date(); let year=d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a title="Click to have a 500 result" href="/invalid/sample">Error Link</a>
</footer>