@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto+Condensed&display=swap');

:root {

  --carolina-blue: #74b3ce;
  --selective-yellow: #ffba08;
  --tea-green: #d0fcb3;
  --misty-rose: #f3d9cd;

  --primary-color: var(--carolina-blue);
  --secondary-color: var(--selective-yellow);
  --accent1-color: var(--tea-green);
  --accent2-color: var(--misty-rose);

  --heading-font: 'Merriweather', serif;
  --paragraph-font: 'Roboto Condensed', sans-serif;

}

body {
  font-family: var(--paragraph-font);
  width: 100vw;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
}

/* Wrapper area */

#wrapper {
  margin: 0 auto;
  background-color: white;
  width: 100vw;
}

/* Header partial */

#top-header {
  display: inline-block;
  width: 100%; 
}

.siteName {
  float: left;
}

.siteName a {
  text-decoration: none;
  font-size: 2em;
}

#tools {
  float: right;
  padding-right: 20px;
}

#tools > a {
  text-decoration: none;
}
/* end of Header partial */

/* Navigation partial  */

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-color: black;
  color: white;
  padding: 15px;
}

nav li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

nav li a:hover {
  background-color: white;
  color: black;
}

/* end of Navigation partial  */

/* Hero Part (index.ejs) */

#hero {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: 0.5fr 2fr;
  max-width: 80vw;
}

#hero h1 {
  grid-column: 1/4;
  grid-row: 1/2;
  font-size: 24px;
}

#hero-box {
  grid-column: 2/4;
  grid-row: 2/3;
}

#hero-img {
  min-width: 40vw;
}

#hero-msg {
  grid-column: 1/3;
  grid-row: 2/3;
  background-color: rgba(255, 255, 255, 0.5);
}

.own {
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  padding: 15px;
}

.button-box {
  margin: 30px 0 0 0;
}
/* end of Hero Part (index.ejs) */

/* Main Part (index.ejs) */

.product-grid {
  display: flex;
  flex-flow: column;
  max-width: 100vw;
}

.product-upgrades, .product-reviews {
  max-width: 100vw;
}
.reviews-list {
  line-height: 30px;
  max-width: 80vw;
}

.upgrade-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 80vw;
}

.upgrade-card {
  list-style-type: none;
  justify-content: center;
  text-align: center;
}

.upgrade-card-box {
  height: 85px;
  background-color: var(--primary-color);
}

/* end of Main Part (index.ejs) */

/* Inventory Classification View */
#inv-display {
  display: grid;
  padding: 0px;
  margin: 0 auto;
  gap: 10px;
}

#inv-display li {
  list-style-type: none;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(white, var(--secondary-color));
}

/* end of Inventory Classification View */

/* Vehicle Details View */
#inv-details {
  display: grid;
  padding: 0px;
  margin: 0 auto;
  text-align: center;
}

#inv-details h3 {
  font-family: var(--paragraph-font);
  margin: 20px 0 0 0;
}

#inv-details strong{
  font-family: var(--paragraph-font);
  font-size: 1.8em;
}

/* #inv-details-img { */
  /* grid-row: 1/2; */
  /* grid-column: 1/3; */
/* } */

#inv-details-img img{
  max-width: 100vw;
}
/* #inv-details h2 { */
  /* grid-row: 2/3; */
  /* grid-column: 1/3; */
/* } */

#inv-details-year {
  /* grid-row: 3/4; */
  /* grid-column: 1/2; */
  text-align: left;
}

#inv-details-miles {
  /* grid-row: 3/4; */
  /* grid-column: 2/3; */
  text-align: left;
}

#inv-details-type {
  /* grid-row: 4/5; */
  /* grid-column: 1/2; */
  text-align: left;
}

#inv-details-color {
  /* grid-row: 4/5; */
  /* grid-column: 2/3; */
  text-align: left;
}

#inv-details-price {
  /* grid-row: 5/6; */
  /* grid-column: 1/3; */
  text-align: left;
}

#inv-details-description {
  /* grid-row: 6/7; */
  /* grid-column: 1/3; */
  text-align: left;
}

#inv-details-description p{
  font-size: 1.5em;
}

#inv-details-reviews {
  /* grid-row: 4/5; */
  /* grid-column: 1/2; */
  text-align: left;
}

#inv-details-reviews p{
  font-size: 1.5em;
}

#inv-details-reviews li{
  font-size: 1.5em;
}

#inv-details-reviews .button-box {
  margin: 30px 0 0 0;
  font-size: 0.8em;
}

/* end of Vehicle Details View */

/* Login form */

.login {
  max-width: 300px;
  margin: auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin: 0 auto;
  display: block;
  background-color: var(--accent1-color);
  color: black;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--accent2-color);
}

button:disabled {
  background-color: #dddddd;
}

.login p {
  text-align: center;
}
/* end of Login form */

/* Forms */
.update-form, .register, .add-record, .delete-record, .edit-record, .edit-review {
  max-width: 600px;
}

.basic-information-form, .password-form, .add-form, .delete-form, .edit-form, .register-form {
  margin: 20px 0px auto;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

@media screen and (min-width: 900px) {

  body {
    background-image: url("/images/site/small_check.jpg");
  }
  
  #wrapper {
    border: 5px;
    border-color: var(--primary-color);
    max-width: 1000px;
    border-radius: 8px;
    border-style: solid;
    padding: 10px;
  }
  /* Header partial */  
  /* end of Header partial */
  
  /* Navigation partial  */
  /* end of Navigation partial  */
  
  /* Hero Part (index.ejs) */
  
  #hero {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 2fr;
  }
  
  #hero h1 {
    grid-column: 1/6;
    grid-row: 1/2;
    font-size: 36px;
  }
  
  #hero-box {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  
  #hero-msg {
    grid-column: 2/4;
    grid-row: 2/3;
  }
  
  .button-box {
    margin: 30px 0 0 0;
  }
  /* end of Hero Part (index.ejs) */
  
  /* Main Part (index.ejs) */
  
  .product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }

  .product-upgrades {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .product-reviews {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .reviews-list {
    line-height: 50px;
  }
    
  /* end of Main Part (index.ejs) */

  /* Inventory Classification View */
  #inv-display {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #inv-display img {
    height: 100px;
  }
  /* end of Inventory Classification View */  

  /* Vehicle Details View */
  #inv-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto auto auto;
  }

  #inv-details-img {
    grid-column: 1/2;
    grid-row: 2/7;
  }

  #inv-details-img img{
    max-width: 100vw;
  }

  #inv-details h2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #inv-details-year {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 0 0 20px;
  }

  #inv-details-miles {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 0 0 0 20px;
  }

  #inv-details-type {
    grid-column: 2/3;
    grid-row: 4/5;
    margin: 0 0 0 20px;
  }

  #inv-details-color {
    grid-column: 2/3;
    grid-row: 5/6;
    margin: 0 0 0 20px;
  }

  #inv-details-price {
    grid-column: 2/3;
    grid-row: 6/7;
    margin: 0 0 0 20px;
  }

  #inv-details-description {
    grid-column: 2/3;
    grid-row: 7/8;
    margin: 0 0 0 20px;
  }

  #inv-details-reviews {
    grid-row: 8/9;
    grid-column: 2/3;
  }
  
  /* end of Vehicle Details View */

}

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
