<!-- Content Heading -->
<% if (title) { %>
<h1>
  <%= title %>
</h1>
<% } else { res.redirect('/') } %>

<!-- Message Block -->
<%- messages() %>

<!-- Links to Add new classification and inventory -->

<p><a href="/inv/addclassification">Add New Classification</a></p>
<p><a href="/inv/addinventory">Add New Vehicle</a></p>

<h2>Manage Inventory</h2>
<p>Select a classification from the list to see its items</p>
<select name="classification_id" id="classificationList" required>
  <option selected disabled value="">Select one classification</option>
  <%- classificationSelect %>
</select><br>
<br>
<br>
<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>

<script src="/js/inventory.js"></script>